{% extends 'playlist/base.html' %}
{% block content %}
    <h>welcome to disquentral</h>
    {% for urlr in all_url %}
        <div class="fluid-container">
            <div class="col">
                <div class="card-desk">
                    <div class="card text-primary bg-success mb-100000" style="width: 9rem;">
                        <img src="{{urlr.website_link}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">BY {{urlr.username}}</h5>
                            <p class="card-text">{{urlr.description}}</p>
                            <a href="{{urlr.website_link}}" class="btn btn-success">Go to site</a>
                            <div class="card-footer text-muted">
                    {{urlr.username}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}